* text=auto
*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.blend binary
*.glb binary
*.png binary
web/index.html -diff
*.html text eol=lf
*.txt text eol=lf
